MESSAGES_TRUST_GATEWAY_AUTH=true
MESSAGES_CORS_ORIGINS=https://zenithy.art,https://blog.zenithy.art
PORTAL_SECURITY_ENABLED=true
PORTAL_MESSAGE_RATE_LIMIT=5
PORTAL_MESSAGE_DAILY_LIMIT=30
PORTAL_MESSAGE_WINDOW_SECONDS=600
PORTAL_ADMIN_RATE_LIMIT=90
PORTAL_ADMIN_WINDOW_SECONDS=300
PORTAL_MESSAGE_MAX_CHARS=1200
PORTAL_MESSAGE_MAX_LINKS=3
